.react-calendar {
  width: 100%;
  border: none;
  padding: 0 50px;
  scale: 0.9;
  font-family: Dongle;
  font-size: 1.8rem;
}

.react-calendar__tile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
  color: #4b4b4b;
  padding: 10px 0;
}
.react-calendar__tile.today {
  color: #749dff;
}

.react-calendar__tile.sunday {
  color: #ff8349;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: none;
}

.react-calendar__tile abbr {
  font-size: 1.6rem;
  padding: 5px 12px;
}
.react-calendar__tile.selected {
  color: #ff8a74;
}
.react-calendar__tile.selected abbr {
  border-radius: 50%;
  background-color: #edcbb2;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.react-calendar__month-view__days {
  height: 100%;
}

.react-calendar__navigation {
  display: none;
}

.react-calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #4b4b4b;
}

.react-calendar__weekdays__weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.react-calendar__month-view__weekdays__weekday {
  color: #4b4b4b;
}

.react-calendar__month-view__weekdays__weekday:nth-child(1) {
  color: #ff8a74;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}
